<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539677818693-pnevookmfi4ae2vi69p1t3vkcor17amj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539677818693-pnevookmfi4ae2vi69p1t3vkcor17amj</string>
	<key>API_KEY</key>
	<string>AIzaSyBTuOiIdkTCCGofyvDF2GrqLRjbqrCJn4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>539677818693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.animators.main.animators</string>
	<key>PROJECT_ID</key>
	<string>animators-918eb</string>
	<key>STORAGE_BUCKET</key>
	<string>animators-918eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539677818693:ios:69298cc0e367d2682f482c</string>
	<key>DATABASE_URL</key>
	<string>https://animators-918eb-default-rtdb.firebaseio.com</string>
</dict>
</plist>